


// Mixins
@mixin transform($property) {
  -webkit-transform: $property;
      -ms-transform: $property;
          transform: $property;
}


/* Sky Art Content Section */
@keyframes upToDown {
  0% {
    top: 80%;
    left: -30%;
  }
  100% {
    top: 10%;
    left: 100%;
  }
}
@keyframes downToUp {
  0% {
    top: 10%;
    left: -30%;
  }
  100% {
    top: 50%;
    left: 100%;
  }
}
@keyframes blink {
  from {  transition: 5s; }
  to {opacity: 0;   transition: 5s;}
}

.ArtContent {
  position: relative;
}
.paperplane {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 100px solid white;
  transition: .2s;
}
.PaperPlane1 {
  top: -100%;
  left: -100%;
  animation: upToDown 2s 1 linear forwards;
  animation-delay: 1s;
}
.PaperPlane2 {
  top: 10%;
  left: 10%;
  animation: downToUp 2s 1 linear forwards;
  transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
}
.Crease {
  position: absolute;
  top: -84px;
  left: -66px;
  transform:rotate(-11deg);
    -moz-transform: rotate(-11deg);
    -o-transform: rotate(-11deg);
  width: 0;
  height: 0;
  border-left: 0px solid transparent;
  border-right: 170px solid transparent;
  border-top: 40px solid gainsboro;
}

.cloudGeneral {
  z-index: 2;
  position: absolute;
  width: 500px;
  height: 80px;
  background: white;
  border-radius: 100px;
  animation: blink 10s linear infinite alternate;
}
.Cloud1 {
  top: 15%;
  left: 10%;
  transform: scale(.4);
    -moz-transform: scale(.4);
    -o-transform: scale(.4);
  animation-delay: 5s;
}
.Cloud2 {
  top: 60%;
  left: 70%;
  transform: scale(.5);
    -moz-transform: scale(.5);
    -o-transform: scale(.5);
}
.Layer1 {
  position: absolute;
  top: -130%;
  left: 10%;
  width: 150px;
  height: 150px;
  background: white;
  border-radius: 100px;
}
.Layer2 {
  position: absolute;
  top: -180%;
  left: 35%;
  width: 200px;
  height: 200px;
  background: white;
  border-radius: 100px;
}
.Layer3 {
  position: absolute;
  top: -60%;
  left: 70%;
  width: 100px;
  height: 100px;
  background: white;
  border-radius: 100px;
}
.Layer4 {
  position: absolute;
  top: -50%;
  left: 5%;
  width: 100px;
  height: 100px;
  background: white;
  border-radius: 100px;
}
.Layer5 {
  position: absolute;
  top: -220%;
  left: 30%;
  width: 250px;
  height: 250px;
  background: white;
  border-radius: 150px;
}
.Layer6 {
  position: absolute;
  top: -60%;
  left: 70%;
  width: 120px;
  height: 120px;
  background: white;
  border-radius: 100px;
}
.Layer7 {
  position: absolute;
  top: -105%;
  left: 15%;
  width: 100px;
  height: 100px;
  background: white;
  border-radius: 100px;
}
