
// Mixins
@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}
@mixin fly($top, $left, $rotate, $ani) {
  top: $top;
  left: $left;
  transform: rotate($rotate);
  @include transform(rotate($rotate));
  animation: $ani 10s infinite linear forwards;
}

@mixin cloud($top, $left, $scale, $delay) {
  top: $top;
  left: $left;
  @include transform(scale($scale));
  animation-delay: $delay;
}
@mixin layer($top, $left, $width, $height, $radius) {
  position: absolute;
  top: $top;
  left: $left;
  width: $width;
  height: $height;
  background: white;
  border-radius: $radius;
}

/* Sky Art Content Section */
@keyframes upToDown {
  0% {
    top: 80%;
    left: -30%;
  }
  10% {
    top: 10%;
    left: 100%;
  }
	100% {
		top: 10%;
    left: 100%;
	}
}
@keyframes downToUp {
  0% {
    top: 10%;
    left: -30%;
  }
  10% {
    top: 50%;
    left: 100%;
  }
	100% {
		top: 50%;
    left: 100%;

	}
}
@keyframes blink {
  from {  transition: 5s; }
  to {opacity: 0;   transition: 5s;}
}

.paperplane {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 100px solid white;
  transition: .2s;
}
.PaperPlane1 {
  @include fly(-100%, -100%, 0deg, upToDown);
  animation-delay: 1s;
}
.PaperPlane2 {
  @include fly(10%, 10%, 20deg, downToUp);
}
.Crease {
  position: absolute;
  @include fly(-84px, -66px, -11deg, none);
  width: 0;
  height: 0;
  border-left: 0px solid transparent;
  border-right: 170px solid transparent;
  border-top: 40px solid gainsboro;
}

.cloudGeneral {
  @include layer(0px, 0px, 500px, 80px, 100px);
  z-index: 2;
  animation: blink 10s linear infinite alternate;
}

.Cloud1 {
  @include cloud(15%, 10%, .4, 5s);
}
.Cloud2 {
  @include cloud(60%, 80%, .5, 0s);
}
.Cloud3 {
  @include cloud(10%, 70%, .5, 1s);
}
.Cloud4 {
  @include cloud(88%, 0%, .3, 3s);
}
.Layer1 {
  @include layer(-130%, 10%, 150px, 150px, 100px);
}
.Layer2 {
  @include layer(-180%, 35%, 200px, 200px, 100px);
}
.Layer3 {
  @include layer(-60%, 70%, 100px, 100px, 100px);
}
.Layer4 {
  @include layer(-50%, 5%, 100px, 100px, 100px);
}
.Layer5 {
  @include layer(-200%, 30%, 230px, 230px, 150px);
}
.Layer6 {
  @include layer(-60%, 70%, 120px, 120px, 100px);
}
.Layer7 {
  @include layer(-105%, 15%, 100px, 100px, 100px);
}
