html, body {
  background: #699ef4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0px;
  overflow-x: hidden;
}


/* Art Content Section */

@keyframes upToDown {
  0% {
    top: 80%;
    left: -30%;
  }
  100% {
    top: 10%;
    left: 100%;
  }
}
@keyframes downToUp {
  0% {
    top: 10%;
    left: -30%;
  }
  100% {
    top: 50%;
    left: 100%;
  }
}
@keyframes blink {
  to {opacity: 0;}
}
.ArtContent {
  position: relative;
}
.paperplane {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 100px solid white;
  transition: .2s;
}
.PaperPlane1 {
  top: -100%;
  left: -100%;
  animation: upToDown 2s 1 linear forwards;
}
.PaperPlane2 {
  top: 10%;
  left: 10%;
  animation: downToUp 2s 1 linear forwards;
  transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
}
.Crease {
  position: absolute;
  top: -84px;
  left: -66px;
  transform:rotate(-11deg);
    -moz-transform: rotate(-11deg);
    -o-transform: rotate(-11deg);
  width: 0;
  height: 0;
  border-left: 0px solid transparent;
  border-right: 170px solid transparent;
  border-top: 40px solid gainsboro;
}

.cloudGeneral {
  transition: 5s;
  z-index: 2;
  position: absolute;
  width: 500px;
  height: 80px;
  background: white;
  border-radius: 100px;
  animation: blink 10s linear infinite alternate;
}
.Cloud1 {
  top: 15%;
  left: 10%;
  transform: scale(.4);
    -moz-transform: scale(.4);
    -o-transform: scale(.4);
  animation-delay: 5s;
}
.Cloud2 {
  top: 60%;
  left: 70%;
  transform: scale(.5);
    -moz-transform: scale(.5);
    -o-transform: scale(.5);
}
.Layer1 {
  position: absolute;
  top: -130%;
  left: 10%;
  width: 150px;
  height: 150px;
  background: white;
  border-radius: 100px;
}
.Layer2 {
  position: absolute;
  top: -180%;
  left: 35%;
  width: 200px;
  height: 200px;
  background: white;
  border-radius: 100px;
}
.Layer3 {
  position: absolute;
  top: -60%;
  left: 70%;
  width: 100px;
  height: 100px;
  background: white;
  border-radius: 100px;
}
.Layer4 {
  position: absolute;
  top: -50%;
  left: 5%;
  width: 100px;
  height: 100px;
  background: white;
  border-radius: 100px;
}
.Layer5 {
  position: absolute;
  top: -220%;
  left: 30%;
  width: 250px;
  height: 250px;
  background: white;
  border-radius: 150px;
}
.Layer6 {
  position: absolute;
  top: -60%;
  left: 70%;
  width: 120px;
  height: 120px;
  background: white;
  border-radius: 100px;
}
.Layer7 {
  position: absolute;
  top: -105%;
  left: 15%;
  width: 100px;
  height: 100px;
  background: white;
  border-radius: 100px;
}



/*  main content section*/
@keyframes fadeIn {
  to {opacity: 1;}
}
@keyframes lengthen {
  to {
    opacity: 1;
    width: 50%;
  }
}
@keyframes soar {
  0% {
    transform: scale(.2) rotate(3deg);
      -moz-transform: scale(.2) rotate(3deg);
      -o-transform: scale(.2) rotate(3deg);
  }
  100% {
    transform: scale(.2) rotate(9deg);
      -moz-transform: scale(.2) rotate(9deg);
      -o-transform: scale(.2) rotate(9deg);
  }
}
a {
  transition: .2s;
  text-decoration: none;
}
a:hover {
  color: white;
}
.MainContainer {
  /* height: 98vh; */
  width: 70vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.Title {
  text-align: center;
  color: white;
  font-size: 4em;
  font-family: 'Acme', sans-serif;
  margin: 0px;
  margin-top: 30px;
}
.Subheading {
  text-align: center;
  color: white;
  font-size: 1.4em;
  font-family: 'Ubuntu Condensed', sans-serif;
  margin-bottom: 50px;
}
.Divider {
  height: 5px;
  width: 0%;
  background: #222222;
  opacity: 0;
  animation: lengthen 2s 1 forwards;
  animation-delay: .5s;
}
.IntroContainer {
  display: flex;
  width: 80%;
  align-items: center;
  opacity: 0;
  animation: fadeIn 2s 1;
  animation-fill-mode: forwards;
}
.IntroContainer > p {
  flex: 1;
  text-align: center;
  color: #f4f5f7;
  font-size: 1.5em;
  font-family: 'Ubuntu Condensed', sans-serif;
}

.PlaneBaby {
  opacity: 0;
  top: 0px;
  animation: soar .5s infinite linear alternate;
}
.ProjectContainer > div:hover > .PlaneBaby {
  opacity: 1;
}
.ProjectContainer {
  width: 70%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 100px;
}
.ProjectContainer > div {
  position: relative;
  text-align: center;
  font-size: 1.5em;
  font-family: 'Ubuntu Condensed', sans-serif;
  color: #222222;
  margin-top: 3vh;
  border-radius: 10px;
  border: rgba(34, 34, 34, .8) 2px solid;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  animation: fadeIn 2s 1;
  animation-fill-mode: forwards;
  transition: .2s;
}
.ProjectContainer > div:hover {
  background: rgb(34, 34, 34, .8);
  color: transparent;

}
.Type {
  font-size: .7em;
}
.BlueTitle {
  color: #699ef4;
  text-align: center;
}
.Footer {
  position: fixed;
  bottom: 0px;
  background: #222222;
  width: 100%;
  height: 50px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Footer > a > img {
  height: 40px;
  margin: 10px;
}
.Footer > div {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 1em;
}
.Footer > div > a {color:white; text-decoration: underline;}
.Footer > div > a:hover {color:white;}
.github {
  background: radial-gradient(white 50%, black);
}


@media only screen and (max-width: 831px) {
    .paperplane, .cloudGeneral {
      display: none;
    }
    .IntroContainer {
        flex-direction: column;
    }
    .ProjectContainer {
      width: 90%;
    }
    .ProjectContainer > div {
      width: 90%;
      justify-content: space-around;
    }
    .ProjectContainer > div:hover {
      background: transparent;
      color: #222222;
      width: 100%;
    }
    .BlueTitle {
      color: white;
      text-align: center;
      letter-spacing: 3px;
      font-weight: 1px;
      order: 3;
    }
}
